[user]
	name = Michael Griffiths
	email = mikey@cich.li
	signingkey = 92BE8E65AB9248EFF68B75792EDA1D9FDE98B3BF

[commit]
	gpgsign = true

[tag]
	forceSignAnnotated = true

[branch]
	autoSetupMerge = always
	autoSetupRebase = always

[remote]
	pushDefault = origin

[core]
	autocrlf = input
	excludesfile = ~/.gitignore

[diff]
	algorithm = patience
	indentHeuristic = true
	renames = copies
	renameLimit = 4096

[rerere]
	enabled = true
