.cask/
auto-save-list/
backups/
eshell/
projectile/
request/
var/

*~
*.elc

.cider-history
.DS_Store
.ido.last
.mc-lists.el
.org-id-locations
.recentf
.smex-items
projectile.cache
projectile-bookmarks.eld
session.*
tramp