[user]
	name = Michael Griffiths
	email = mikey@cich.li
	signingkey = 9241C7C0

[credential]
	helper = osxkeychain

[commit]
	gpgsign = true

[branch]
	autoSetupMerge = always
	autoSetupRebase = always
[remote]
	pushDefault = origin

[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global

[diff]
	algorithm = histogram
	renames = copies
[diff "clojure"]
	xfuncname = (^\\(.*|\\s*\\(defn.*)

[rerere]
	enabled = true
