/.cask/
/auto-save-list/
/backups/
/elpa/
/eshell/
/projectile/
/request/
/tutorial/
/url/
/var/

/.cider-history
/.DS_Store
/.ido.last
/.mc-lists.el
/.org-id-locations
/.recentf
/.smex-items
/async-bytecomp.log
/custom.el
/history
/projectile.cache
/projectile-bookmarks.eld
/session.*
/tramp

*~
*.elc
