/.cask/
/auto-save-list/
/backups/
/elpa/
/eshell/
/url/
/var/

/.cider-history
/.recentf
/amx-items
/custom.el
/forge-database.sqlite
/history
/projectile.cache
/projectile-bookmarks.eld
/tramp

*~
*.elc
