/auto-save-list/
/backups/
/elpa/
/eln-cache/
/eshell/
/straight/
/url/

/.cider-history
/.recentf
/amx-items
/bookmarks
/custom.el
/forge-database.sqlite
/history
/projectile.cache
/projectile-bookmarks.eld
/tramp
/transient/history.el

*~
*.elc
